<div class="container-fluid">
<h3>
Player Profile
</h3>
<table class="table">
  <thead class="thead-dark">
      <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phonenumber</th>
          <th scope="col">Current Handicap</th>
          <th scope="col"></th>
        </tr>
  </thead>
      <tr>
        <td scope="col">{{this.player?.firstName}}</td>
        <td scope="col">{{this.player?.lastName}}</td>
        <td scope="col">{{this.player?.email}}</td>
        <td scope="col">{{this.player?.phoneNumber}}</td>
        <td scope="col">{{this.handicap}}</td>
        <td scope="col">
          <button class="btn btn-primary mr-1" >Edit</button>
          <a [routerLink]="['add-rounds']"
          class="btn btn-primary">Add Score</a>
        </td>
      </tr>
</table>
</div>
<rounds [rounds]="this.rounds" [holes]="this.player?.memberOf[0]?.holes"></rounds>

