<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Handicapper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active current" >
          <a class="nav-link" href="#" routerLink="/golfCourse">
            Golf Courses
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active current" >
          <a class="nav-link" href="#" routerLink="/player">Players</a>
        </li>
      </ul>
    </div>
</nav>
