
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ this.golfCourse?.courseName}}</h1>

    </div>
  </div>
<div class="container-fluid">

  <div class="col-sm-6 col-md-4 col-lg-4">
    <app-holes [holes]="this.holes"></app-holes>
    <app-add-hole [id]="this.id" *ngIf="this.addHole" (uploaded)="updateResults($event);" ></app-add-hole>
  </div>

  <div >
    <a [routerLink]="['/golfCourses',this.golfCourse?.id,'players']" class="btn btn-primary ">View Members</a>
    <button class="btn btn-primary" (click)="toggleHoleCreationFlag()">Add Hole Details</button>
    <button class="btn btn-primary" (click)="toggleTeeCreationFlag()" >Add Tee Details</button>
  </div>


  <div class="col-sm-6 col-md-4 col-lg-4 float-right">
      <app-tee
      [tees]="this.tees"
      [addTee]="this.addTee"
      [golfCourseId]="this.id"
      (teeAdded)="updateTees($event);"></app-tee>
  </div>
</div>


<!--class="col-sm-6 col-md-4 col-lg-4"-->
