
<h3>
  Game Details
</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Hole Number</th>
      <th scope="col">Par</th>
      <th scope="col">Shots Taken</th>
      <th scope="col">Adjusted Shots</th>
      <th scope="col">Status
      </th>
      <!--<th></th>-->
    </tr>
  </thead>
      <!--<tr>
          <td *ngIf="this.addRoundDetailFlag">
              <app-add-round-details [roundHeader]="this.roundHeader"></app-add-round-details>
            </td>
      </tr> -->
      <tr *ngFor="let aHole of roundDetails; index as i">

        <td scope="col">
          {{aHole?.hole?.holeNumber}}
        </td>
        <td scope="col">
          {{aHole?.hole?.par}}
        </td>
        <td scope="col">
            <div *ngIf="!(this.updateRequest && this.updateRowIndex==i)">
              {{aHole?.shotsTaken}}
          </div>
          <div *ngIf="this.updateRequest && this.updateRowIndex==i">
            <input type="text" [(ngModel)]="this.roundDetails[i].shotsTaken"
            name="shotsTaken" class="form-control"/>
          </div>
        </td>
        <td scope="col">
            <div *ngIf="!(this.updateRequest && this.updateRowIndex==i)">
              {{aHole?.adjustedScore}}
          </div>
        </td>
        <td scope="col">
          <div *ngIf="this.updateRequest && this.updateRowIndex==i">
            <button type="submit" class="btn btn-primary" (click)="update()">Submit</button>
            <button class="btn btn-danger" (click)="updateCancelled()">Cancel</button>
          </div>
          <div *ngIf="!(this.updateRequest && this.updateRowIndex==i)">
            <button class="btn btn-primary" (click)="updatedRequested(i)">Edit</button>
          </div>
        </td>
      </tr>
</table>
<button type="button" class="btn btn-primary btn-lg"
*ngIf="this.getRoundDetailsSize() < 18" data-toggle="modal" data-target="#addRoundModal" (click)="this.openModal()">
  Add Round
</button>

<ng-template modal-host></ng-template>

