<H3>
  Holes Summary
</H3>
<table class="table">
  <thead class="thead-dark" >
  <tr >
    <!--

    -->
    <!--<th scope="col"></th>-->
    <th scope="col">Hole</th>
    <th scope="col" *ngFor="let hole of holes">{{hole?.holeNumber}}</th>
  </tr>
  </thead>
  <tr >
      <!--<td scope="col">{{ hole?.holeNumber }}</td> -->
      <th scope="col">Par</th>
      <td scope="col" *ngFor="let hole of holes">{{ hole?.par }}</td>

    </tr>
    <tr>
      <th scope="col">Stroke Index</th>
      <td scope="col" *ngFor="let hole of holes">{{ hole?.strokeIndex }}</td>
    </tr>
</table>


