<div class="container">
  <div>
    <h4> Rounds Played</h4>
</div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Game Played On</th>
        <th scope="col">Total Shots Taken</th>
        <th scope="col">Adjusted Score</th>
        <th scope="col">Handicap Index</th>
        <th scope="col">Tee</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of rounds; index as i" (click)="onClick(i)" >
        <td scope="col">
          {{round.gamePlayedOn}}
        </td>
        <td scope="col">{{ this.round?.shotsTaken }}</td>
        <td scope="col">{{ this.round?.adjustedScore }}</td>
        <td scope="col">{{ this.round?.handicapDifferential }}</td>
        <td scope="col">{{ this.round?.tee?.teeName }}</td>
        <td scope="col">Click to View Details</td>
      </tr>
    </tbody>
  </table>

  <div>
      <rounddetails class="col-sm-12 col-md-3 col-lg-3" *ngIf=this.expanded
      [roundDetails]="this.roundDetails" [roundHeader]="this.rounds[0]" [holes]="this.holes"
      (roundsUpdated)="this.updateRounds($event)">
      </rounddetails>
  </div>

</div>
